/bin/
/.settings/
/.classpath
/.project
/.tern-project
/*.log
/logs/
/data/
/.idea/*
/target/*
*.iml
/.vertx/
/target/
/dependency-reduced-pom.xml
/temp/
/node_modules/
*.osm
/frontend/
/web/
/files/*